

.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-gap: 15px;
}

.images-anim {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:16px;
}

<section class="grid">
            <div class="container">

                <div class="images-anim">
                    <img src="https://picsum.photos/id/1025/600/400"  alt="">
                 </div>

                <div class="images-anim">
                    <img src="https://picsum.photos/id/1025/600/400"  alt="">
                 </div>

                 <div class="images-anim">
                    <img src="https://picsum.photos/id/1025/600/400"  alt=""> 
                 </div>

                 <div class="images-anim">
                    <img src="https://picsum.photos/id/1025/600/400"  alt=""> 
                 </div>
                </div>
              
           
            </div>